<html>
  <head>
    <title>Skefesa</title>
    <meta charset="UTF-8">
	<link href="estilos.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<div id="quadro">
		<div id="cabecalho">
			<img src="tabajara.jpg" align="left" width="150" style="padding-top: 10px; padding-left: 10px;">
			<h1 align="center">Cadastro de Turnos</h1>
		</div>
		<div id="corpo">
			<p style="color: #000000; font-weight: bold;">Tipo de Turno</p>
			<ul>
				<li>Nome: <%= param.getNome()%></li>
                <!-- Inserir titulações -->
			</ul>
		</div>
		<div id="rodape">
			<p class="resultado">
				<%= msg%>
			</p>
			
			<a href="/">Voltar ao Menu Principal</a>
		</div>
	</div>
  </body>
</html>