<html>
	<head>
		<title>Skefesa</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Serviços de Telecomunicações Online</h1>
		<hr>
		<ul>
			<li><a href="/professores">Cadastro de Professores</a></li>
			<li><a href="/alunos">Cadastro de Alunos</a></li>
			<li><a href="/trabalhos">Cadatro de Trabalhos</a></li>
			<li><a href="/modalidades">Cadastro de Modalidades</a></li>
			<li><a href="/turnos">Cadastro de Turnos</a></li>
			<li><a href="/cursos">Cadastro de Cursos</a></li>
		</ul>
	</body>
</html>