<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
		<title>Skefesa</title>
	</head>
	<body>
		<div id="grid">
			<header class="cabecalho-pagina constante">
				<div class="banner-img">
					<figure>
						<img src="../fotos/banner.png" alt="banner" width="100%">
					</figure>
				</div>
			</header>

			<main>
				<div class="main-pagina principal">
					<h1>Cadastro de Aluno</h1>
					<hr>
					<form action="/salvarAluno" method="post">
						<fieldset>
							<label for="matricula">Matricula:</label><br>
							<input type="text" name="matricula" id="matricula" size="15"><br><br>
					
							<label for="senha">Senha:</label><br>
							<input type="text" name="senha" id="senha" size="30"><br><br>

							<label for="nome">Nome:</label><br>
							<input type="text" name="nome" id="nome" size="30"><br><br>
							
							<label for="telefone">Telefone:</label><br>
							<input type="text" name="telefone" id="telefone" size="20"><br><br>

							<label for="email">Email:</label><br>
							<input type="text" name="email" id="email" size="20"><br><br>

							<label for="curso_id">Curso:</label><br>
							<input type="text" name="curso_id" id="curso_id" size="20"><br><br>

							<label for="professor_id">Professor:</label><br>
							<input type="text" name="professor_id" id="professor_id" size="20"><br><br>

							<input type="submit" name="salvar" value="Salvar">
							<input type="reset" name="limpar" value="Limpar">
						</fieldset>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>