<html>
	<head>
		<title>Skefesa</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Cadastro de Modalidade</h1>
		<hr>
		<form action="/atualizarModalidade" method="post">
				
			<label for="nome">Modalidade:</label><br>
			<input type="text" name="nome" id="nome" value ="<%= modalidades[0].nome %>" size="15"><br><br>
	
            <!-- INSERIR TITULAÇÕES -->

			<input type="submit" name="salvar" value="Salvar">
			<input type="reset" name="limpar" value="Limpar">
		</form>
	</body>
</html>