<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
		<title>Skefesa</title>
	</head>
	<body>
		<div id="grid">
			<header class="cabecalho-pagina constante">
				<div class="banner-img">
					<figure>
						<img src="../fotos/banner.png" alt="banner" width="100%">
					</figure>
				</div>
			</header>

			<main>
				<div class="main-pagina principal">
					<h1>Lista de Modalidades</h1>
					<hr>

					<form action="/filtrarModalidade" method="post">
						<fieldset>
							<label for="nome">Nome (use % como cartere coringa):</label><br>
							<input type="text" name="nome" id="nome" size="30"><br><br>
							
							<input type="submit" name="filtrar" value="Filtrar">
						</fieldset>
					</form><br>

					<a href="/formModalidade">Nova Modalidade</a> &nbsp;
					<a href="/">Voltar para Tela Principal</a>&nbsp;
					<br><br>

					<form action="/gerenciarModalidade" method="post">
						<input type="submit" name="acao" value="Excluir">
						<input type="submit" name="acao" value="Atualizar">
						<table border="1">
							<tr>
								<th>Seleção</th>
								<th>Modalidade</th>
								<th>Id</th>
							</tr>
							<% modalidades.forEach((m, index) => { %>
							<tr>
								<td><input type="radio" name="nome" value="<%= m.nome %>"></td>
								<td><%= m.nome %></td>
								<td><%= m.id %></td>
							</tr>
							<% }) %>
						</table>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>