<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
		<title>Skefesa</title>
	</head>
	<body>
		<div id="grid">
			<header class="cabecalho-pagina constante">
				<div class="banner-img">
					<figure>
						<img src="../fotos/banner.png" alt="banner" width="100%">
					</figure>
				</div>
			</header>

			<main>
				<div class="main-pagina principal">
					<h1>Cadastro de Modalidade</h1>
					<p>Tipo de Modalidade</p>
					<ul>
						<li>Nome: <%= param.getNome()%></li>
					</ul>

					<div id="rodape">
						<p class="resultado">
							<%= msg%>
						</p>
						
						<a href="/">Voltar ao Menu Principal</a>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>